<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<property name="logging.level.jdut" value="${logging.level.jdut:-warn}" />
	<property name="logging.level.jdut.junit5" value="${logging.level.jdut.junit5:-${logging.level.jdut}}" />

	<logger name="guru.mikelue.jdut" level="${logging.level.jdut}" />
	<logger name="guru.mikelue.jdut.junit5" level="${logging.level.jdut.junit5}" />

	<root level="warn">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
